* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.content {
    padding: 10px;
    margin: 10px;
    border: 1px dashed white;
    background-color: darkmagenta;
    height: 30px;
}
/*SIDEBAR*/
.sidebar .row {
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-between;
}
.sidebar {
    width: 75px;
    background-color: black;
}
.col-100 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: crimson;
    border: 1px dashed white;
}
.sidebar-bottom, .sidebar-top {
    flex-direction: column;
}
.sidebar-bottom {
    justify-content: flex-end;
}
/*BOTTOM-SECTION*/
.col-33 {
    height: 100px;
    width: calc(100vw / 3);
    border: 1px dashed white;
}
.bottom-section {
    height: 100px;
    background-color: brown;
}
.bottom-section .col-33 {
    display: flex;
    align-items: center;
}
.bottom-section .content {
    width: 50%;
}
.middle {
    flex-direction: column;
}
.right {
    justify-content: flex-end;
}
/*TOP-SECTION*/
.top-section {
    height: calc(100vh - 100px);
    background-color: darkblue;
    display: flex;
}
.main-content {
    width: calc(100vw - 75px);
    background-color: darkgreen;
}
header {
    width: calc(100vw - 75px);
    text-align: right;
    position: fixed;
    left: 75px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.222);
}


@media screen and (min-width: 576px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        width: calc(100vw - 200px);
    }
    header {
        left: 200px;
        width: calc(100vw - 200px);
    }
}