* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bottom-section {
    height: 100px;
    background-color: brown;
}
.top-section {
    height: calc(100vh - 100px);
    background-color: darkblue;
    display: flex;
}
.sidebar {
    width: 75px;
    background-color: black;
}
.main-content {
    width: calc(100vw - 75px);
    background-color: darkgreen;
}
header {
    width: calc(100vw - 75px);
    text-align: right;
    position: fixed;
    left: 200px;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.222);
}

@media screen and (min-width: 786px) {
    .sidebar {
        width: 200px;
    }
    .main-content {
        width: calc(100vw - 200px);
    }
    header {
        left: 200px;
        width: calc(100vw - 200px);
    }
}